<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>ChangeButtonState.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>2D2DFBC11CAD1218001C7004</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>2D2DFBD81CAD1218001C7004</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>2D2DFBE31CAD1218001C7004</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
